{% load static %}
<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'profiles' %}" class="header__logo">
            <img src="{% static 'images/logo.png' %}" alt="DevSearch Logo" />
        </a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                <li class="header__menuItem"><a href="{% url 'profiles' %}">Bitiruvchilar</a></li>
                <li class="header__menuItem"><a href="{% url 'projects' %}">Loyihalar</a></li>



                {% if request.user.is_authenticated %}
                <li class="header__menuItem"><a href="{% url 'account' %}">Mening sahifam</a></li>
                <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Chiqish</a></li>
                {% else %}
                <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Kirish</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <center>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert--{{message.tags}}">
            <p class="alert__message">{{message}}</p>
            <button class="alert__close">⨯</button>
        </div>
        {% endfor %}
        {% endif %}
    </center>

    <script src="{% static 'uikit/app.js' %}"></script>
</header>