{% extends 'main.html' %}
{% load static %}

{% block content %}
<main class="settingsPage profile my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <div class="card text-center">
                    <div class="card__body dev">
                        <a class="tag tag--pill tag--main settings__btn" href="{% url 'account_edit' %}"><i
                                class="im im-edit"></i>
                            O'zgartirish</a>
                        <img class="avatar avatar--xl dev__avatar" src="{{profil.image.url}}" />
                        <h2 class="dev__name">{{profil.name}}</h2>
                        <p class="dev__title">{{profil.info}}</p>
                        <p class="dev__location">{{profil.location}}</p>
                        <ul class="dev__social">
                            {% if profil.social_github %}
                            <li>
                                <a title="Github" href="{{profil.social_github}}" target="_blank"><i
                                        class="im im-github"></i></a>
                            </li>
                            {% endif %}
                            {% if profil.social_facebook %}
                            <li>
                                <a title="Facebook" href="profil.social_facebook" target="_blank"><i
                                        class="im im-facebook"></i></a>
                            </li>
                            {% endif %}
                            {% if profil.social_youtube %}

                            <li>
                                <a title="Youtube" href="profil.social_youtube" target="_blank"><i
                                        class="im im-youtube"></i></a>
                            </li>
                            {% endif %}
                            {% if profil.social_instagram %}
                            <li>
                                <a title="Instagram" href="profil.social_instagram" target="_blank"><i
                                        class="im im-instagram"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                        <a href="#" class="btn btn--sub btn--lg">Habar jo'nating</a>
                    </div>
                </div>
            </div>
            <div class="column column--2of3">
                <div class="devInfo">
                    <h3 class="devInfo__title">Men haqimda</h3>
                    <p class="devInfo__about">
                        {{profil.bio}}
                    </p>
                </div>
                <div class="settings">
                    <h3 class="settings__title">Malakalari</h3>
                    <a class="tag tag--pill tag--sub settings__btn tag--lg" href="#"><i class="im im-plus"></i> Malaka
                        qo'shish</a>
                </div>

                <table class="settings__table">
                    {% for skill in profil.skill_set.all %}
                    <tr>
                        <td class="settings__tableInfo">
                            <h4>{{skill.name}}</h4>
                            <p>
                                {{skill.description}}
                            </p>
                        </td>
                        <td class="settings__tableActions">
                            <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-edit"></i>
                                O'zgartirish</a>
                            <a class="tag tag--pill tag--main settings__btn" href="#"><i
                                    class="im im-x-mark-circle-o"></i>
                                O'chirish</a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>

                <div class="settings">
                    <h3 class="settings__title">Loyihalar</h3>
                    <a class="tag tag--pill tag--sub settings__btn tag--lg" href="#"><i class="im im-plus"></i> Loyiha
                        qo'shish</a>
                </div>

                <table class="settings__table">
                    {% for project in profil.project_set.all %}
                    <tr>
                        <td class="settings__thumbnail">
                            <a href="{% url 'project' project.id %}"><img src="{{project.image.url}}"
                                    alt="Project Thumbnail" /></a>
                        </td>
                        <td class="settings__tableInfo">
                            <a href="single-project.html">{{project.title}}</a>
                            <p>
                                {{project.description}}
                            </p>
                        </td>
                        <td class="settings__tableActions">
                            <a class="tag tag--pill tag--main settings__btn" href="#"><i class="im im-edit"></i>
                                O'zgartirish</a>
                            <a class="tag tag--pill tag--main settings__btn" href="#"><i
                                    class="im im-x-mark-circle-o"></i>
                                O'chirish</a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}