{% extends "main.html" %}

{% block content %}

<h1>Yangiliklar </h1>
<div class="news">
    <div class="item" style='display:flex; width:900px;margin:40px auto;'>
        <div class="left" style='margin-right:20px'>
            <img src='https://myrepublica.nagariknetwork.com/uploads/media/dfdfdfdfd_20210928153823.jpg' height='150;'
                width='300' />
        </div>
        <div class="right">
            <h2>Lorem ipsum dolor sit.</h2>
            <b>23.02.2021</b>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse mollitia aliquid quisquam amet non
                ipsum provident fuga consectetur sunt doloremque.
            </p>
        </div>
    </div>

    <div class="item" style='display:flex; width:900px;margin:40px auto;'>
        <div class="left" style='margin-right:20px'>
            <img src='https://myrepublica.nagariknetwork.com/uploads/media/nature_20210209150332.jpeg' height='150;'
                width='300' />
        </div>
        <div class="right">
            <h2>Lorem ipsum dolor sit.</h2>
            <b>23.02.2021</b>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse mollitia aliquid quisquam amet non
                ipsum provident fuga consectetur sunt doloremque.
            </p>
        </div>
    </div>

    <div class="item" style='display:flex; width:900px;margin:40px auto;'>
        <div class="left" style='margin-right:20px'>
            <img src='https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455_960_720.jpg' height='150;'
                width='300' />
        </div>
        <div class="right">
            <h2>Lorem ipsum dolor sit.</h2>
            <b>23.02.2021</b>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse mollitia aliquid quisquam amet non
                ipsum provident fuga consectetur sunt doloremque.
            </p>
        </div>
    </div>

</div>

{% endblock %}