<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{sarlavha}}</title>
</head>

<body>

    {% for news in lst %}

    <div class="item" style='display:flex; width:900px;margin:40px auto;'>
        <div class="left" style='margin-right:20px'>
            <img src='{{news.image}}' height='150;' width='300' />
        </div>
        <div class="right">
            <h2>{{news.title}}</h2>
            <b>{{ news.date|date:"Y.m.d" }}</b>
            <p class="text">
                {{news.content}}
            </p>
        </div>
    </div>

    {% endfor %}

</body>

</html>